<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
           <!--ACA VA UN EL LOGO)DIS.GRAFICO= P/ Q COLOQUEN PROV. -->
    <div class="top-header">
        <header>
 
            <%- include('../partials/header'); %>
          </header>



          <div>
          <% product.forEach(products => { %>
            <article class="product">
                <div class="product-left">
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <h3>#<%= product.id %></h3>
                </div>
                <div class="product-content">
                    <h3><%= product.name %> <%= product.price %></h3>
                    <p>Categoría: <%= product.category %></p>
                   
                    <div>
                        <a class="button" href="/product/<%= product.id %>">Ver detalle</a>
                    </div>
                </div>   
            </article>
        <% }) %>


    </div>


          <!--ACA VA UN CARRUSEL DE IMG  -->
            <section class="banner">
                <img src="" alt="carrusel de img">
            </section>

            <h3>Let´s Go!</h3>
      
<main>
    <section>

                    <article>
                        <img src="uvas.jpg" alt="uvas" class="">
                        <div class="main-article">
                            <h4>aca va una foto</h4>
                          <h4 class="description"><a href="#">Bodegas y viñedos </a></h4>
                        </div>
                    </article>
                </div>

    
                <article>
                    <img src="" alt="" class="">
                 <div class="main-article">
                        <h4>aca va una foto</h4>
                        <h4 class="description"> <a href="#">Tours a pie</a></h4>
                    </div>
                </article>

                <article>
                    <img src="" alt="" class="">
                    <div class="main-article">
                        <h4>aca va una foto</h4>
                        <h4 class="description"><a href="#">Nigthlife</a></h4>
                    </div>
                </article>


                <article>
                    <img src="" alt="" class="">
                    <div class="main-article">
                        <h4>aca va una foto</h4>
                        <h4 class="description"><a href="#">Restaurantes</a></h4>
                    </div>
                </article>


     </section>
     <footer>
        <%- include('../partials/footer'); %>
    </footer>
</main> 







    
</body>
</html>





  